
		#inputs {
			width: 400px;
			float: left;
		}

		#title{
			width: 500px;
		}

		#blogbox {
			float: right;
			background-color: magenta;
			padding: 6px;
		}


		#blog, #whoareyou{
			margin-left: 20px;
		}

		#submit{
			float: right;
		}	
		
		.rounded{
			border-radius: 8px;
		}

		.border{
			border: solid black 4px;
			padding: 3px;
			font-size: 12px;
		}
		
		.luminosity{
			background-color: yellow;
		}

		.lavender{
			background-color: pink;
		}

		.orange{
			background-color: orange;
		}
	
		.textbox{
			padding: 15px;
		}

		.group {
			height: 100px;
		}

		.group > * {
			float: left;
		}

		.blog{
			position: relative;
			display: block;
			margin-bottom: 5px;
			margin-top: 5px;
		}

		.fullpage{
			background-color: aqua ;
		}