
		#inputs {
			width: 400px;
			float: left;
		}

		#blogspot{
			width: 500px;
			float: right;
			height: 200px;
		}
		#blog, #whoareyou{
			margin-left: 20px;
		}
		#submit{
			float: right;
		}
	
		
		.rounded{
			border-radius: 8px;
		}

		.border{
			border: solid black 4px;
			padding: 3px;
			font-size: 12px;

		}
	
		.textbox{
			padding: 15px;
		}

		.group {
			height: 100px;
		}

		.group > * {
			float: left;
		}